.poll-container {
    background-color: white;
    color: black;
    border: 2px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 40vh;
    margin: 20px 3vw 20px 3vw;
    position: relative;
}

.prompt-text {
    font-size: 18px;
    margin-left: 5px;
    margin-bottom: 3vh;
}

.poll-question {
    margin-top: 15px;
    margin-left: 5px;
    font-size: 26px;
}

.form-container>div:nth-child(odd) {
    background-color: aliceblue;
}

.poll-option-label {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left: 8px;
    font-size: 23px;
}

.poll-radio {
    /* appearance: none; */
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid #04395E; 
    background-color: white;
    vertical-align: middle;
    margin-right: 10px;
}

.poll-radio:checked {
    background-color: #04395E;
    box-shadow: 0 0 0 5px white;
}

.poll-submit-button {
    background-color: #04395E!important;
}

.poll-submit-button:disabled {
    background-color: #04395E!important;
}

.poll-delete-button {
    background-color: #04395E!important;
}

.poll-delete-button:disabled {
    background-color: #04395E!important;
}

.option-votes {
    padding-left: 1vw;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: 3vw;
    color:#FF1F66;
}

.form-container {
    padding-bottom: 7vh;
}

.buttons-container {
    display: flex;
    vertical-align: bottom;
    bottom: 1vh;
    position: absolute;
    width: 90%;
    justify-content:space-between;
    margin-top:2vh;
    padding: inherit;
}

@media (min-width: 1200px) {
    .buttons-container {
        width: 95%;
    }
} 