* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding-top: 70px;
  }
  
  .custom-container {
    margin: 0px;
    /* max-width: none!important; */
  }

  .navbar-button {
    padding-left: 10px!important;
    padding-right: 10px!important;
  }